@font-face {
    font-family: "Nunito";
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Regular"), local("Nunito-Regular"), url(/fonts/Nunito.woff2) format("woff2"), url(/fonts/Nunito.woff) format("woff"),
        url(/fonts/NunitoBold.ttf) format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-display: fallback;
    font-style: normal;
    font-weight: 700;
    src: local("Nunito Bold"), local("Nunito-Bold"), url(/fonts/NunitoBold.woff2) format("woff2"), url(/fonts/Nunito.woff) format("woff"),
        url(/fonts/NunitoBold.ttf) format("truetype");
}


/**
 * Reset styles (minus p)
 */
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,
input,
textarea,
select,
td,
li {
	font-family: inherit;
	font-size: inherit;
	vertical-align: baseline;

}
button,
select {
    text-transform: none;
}
fieldset,
img {
	border: 0;
}
ol,
ul {
	list-style: none;
}
article,
aside,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}
html{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/**
 * Tag styles
 */
 body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: #4e616c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-weight: 400;
  height: 100%;
  background: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

div, span, input, textarea, select {
	box-sizing: border-box;	
}

a {
	color: #333;
	text-decoration: underline;
	outline: none;
}

a:hover {
	text-decoration: none;
}

pre, blockquote {
	overflow: auto;
}

ol, ul, td {
	/* bit smaller then p */
}

/**
 * Theme styles
 */
h1, h2, h3, h4 {
    color: #333;
    font-family: Nunito,"Helvetica Neue",sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
}

header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #ebeffb;
    font-size: 16px;
    height: 72px;
    line-height: 72px;
    color: #030134;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div {
    width: 100%;
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}


header h1 a {
    color: #333;
    font-size: 32px;
    text-decoration: none;
    font-weight: 500;
}

header h1 a span {
    padding: 0 0 0 10px;
    font-size: 25px;
}

/* #blog is legacy */
main, #blog {
    width: 100%;
    max-width: 1140px;
    padding: 0 10px;
    margin: 80px auto 0 auto;
	color: #4D4D4D;
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* mini-menu */
#menu {
	padding-bottom: .5em;
	font-size: 1.1em;
	text-align: center;
	margin-right: 200px;/* for sidebar */
}

#menu a {
	color: #4D4D4D;
	text-decoration: none; 
	background-color: #F5F7FA;
	display: inline-block;
	padding:5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #DAD3D3;	
	border-radius: 2px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#menu a:hover {
	text-decoration: none; 	
	border: 1px solid #DAD3D3;
}

#content {
	flex: 4;
	padding: 10px;
}

#content h1 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
}

#content h2 a {
  	text-decoration: none;
}

#content table {
	width: 100%;
	padding-bottom: 5px;	
}

#content td {
    padding: 5px 10px;   
}

textarea {
	width: 100%;
	padding: 10px;
	border: 1px #ebeffb solid;
}

/* blog post */
.post {
	position: relative;
	padding: 0 0 1em 0;
	border-bottom: 1px solid #ebeffb;
	margin: 0 auto 1em auto;	
}


.post h2 {
	font-size: 28px;
	padding: 0;
}

.post .text h2 {
	font-size: 24px;
}

.post h2 a {
	color: #06c;
}

.text a, .text a:link, .text a:visited {
	text-decoration: none;
	color: #06c;
	border-bottom: 1px solid #06C;
	border-color: #c8dbef;
	display: inline;
}

.text a img { 
    display: block;
    border: 0;
    padding-bottom: 5px;
}

.date {
	font-size: 100%;
	background: transparent;
	color: #000;
}

.posted {
	margin-top: .5em;
	text-transform:uppercase;
	color: #666;
}
.posted time {
	border-bottom: 1px dashed #888;
}

/* paging*/
.pager {
	width: 100%;
	background: #fff;
	border: 1px #ebeffb solid;
	padding: 5px;
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 5px;
}
.pager p {
	display: block;
	font-size: 15px;
	margin: 0;
}
.pager p a, .pager p strong {
	padding: 10px 20px;
	display: inline-block;
	text-align: center;
	color: #424d56;
	border-right: 1px solid #CED5E5;
	border-bottom: 0px;
}
.pager p {
	border: none;
}
.pager p a.current {
	color: #fff;
	text-shadow: 0 -1px 0 #61707e;
	background: #96a2ad;
	text-decoration: none;
}


/* sidebar */
#sidebar {
    flex: 1;
	padding: 10px 18px;
	border-left: 1px solid #ebeffb;
	font-size: .9em;
}

#sidebar .photo {
	border-radius: 3px;
	width: 100%;
	height: auto;
}
#sidebar ul {
	padding: 0;
	list-style: square inside;
}

#sidebar li {
	padding-bottom: .5em;	
}

#sidebar h2 {
	font-weight: normal;
	margin: 15px 0 10px 0;
}

/* footer */
footer {
    width: 100%;
	max-width: 700px;
	margin: 2em auto;
	color: #4D4D4D;
	font-size: .8em;
	text-align: center;
}

/* message */
#message_box {
	z-index: 2;
	position: relative;
	overflow: auto;
	
}
  
#message {
	color: #333;
	display: block;
	position: relative;
	margin-top: -90px;
	min-height: 90px;
	border-bottom: 1px solid #ebeffb;
	min-height: 45px;
	background-color: #F5F7FA;
	padding: 1em;

	transition: margin .5s ease-in;
	-moz-transition: margin .5s ease-in;
	-webkit-transition: margin .5s ease-in;
	-o-transition: margin .5s ease-in;
}

#message * {
	max-width: 700px;
	margin: auto;	
}

#message .block {
	position: static;
	display: inline-block;
	vertical-align: top;
	*display: inline;
}
#message .title {
	color: #4D4D4D;
	display: block;
	font-size: 1.4em;
	/* font-weight: bold; */
}

#message .message {
	display: block;
	font-size: 1.15em;
}
#message .fb-login-button {
	height: 25px;	
}

/**
 * Non-widescreem
 * Triggered by screen-width < 925px
 */
@media all and (max-width: 925px) {

}


/**
 * Extra Small (moves sidebar under #content)
 * Triggered by screen-width < 680px
 */
@media all and (max-width: 925px) {
	main {
		flex-direction: column;
		padding: 0;
	}

	#menu {
		margin: 0;
	}

	#content{
		padding: 15px;
	}
	.post h2 {
	 	font-size: 24px;     
	}
	
	.post .text h2 {
	    font-size: 22px;    
	}
	
	.post h3 {
	    font-size: 20px;    
	}
	
	.post h4 {
	    font-size: 18px;    
	}

	.post img, .post object, .post textarea{
		max-width: 100%;
		height: auto;
	}

	#sidebar {
		border: none;
		border-top: 1px solid #ebeffb;
		border-bottom: 1px solid #ebeffb;

		position: relative;
		width: auto;
		margin: 0;
		padding: 20px;
	}
}